
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    background-color: #1f1e1f;
    color: rgb(245, 243, 243);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

main h1 {
    text-align: center;
}

main #inpPaciente {
    width: 15rem;
    height: 1.5rem;
    border: 1px solid #6e570a;
    border-radius: 0.3rem;
    padding: 5px;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

main #btnAdicionar {
    width: 10rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    background-color: #ffc506;
    border: none;
    cursor: pointer;
}

main #btnAdicionar:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffc506;
}

main #outLista {
    width: 50%;
    height: 50%;
    border: 1px solid #695205;
    color: #fff;
    display: flex;
    padding: 20px;
    gap: 20px;
}